<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About holidays</title>
    <link rel="stylesheet" type="text/css" href="resources/css/style-story.css"/>
</head>
<body>
<h1>
    The history of the Christmas holiday
</h1>
<h2>
    In the beginning...
</h2>
<p class="text-shadow">
    The Nativity of Christ or the Feast of Christmas is the most famous religious holiday dedicated to the birthday
    of Jesus Christ.
    It is known from biblical legends that the Virgin Mary, being married to Joseph, conceived the Son of God in her
    womb in an immaculate way, about which Joseph and Mary were notified by one of the Angels.
    When the time came for the birth of the Son of God into the world, the Roman emperor Caesar Augustus issued a
    decree on conducting a population census. According to the terms of the census, at the time of its conduct, all
    citizens were obliged to return to the cities and villages in which they were born.
    Therefore, Mary and Joseph returned to their hometown — Bethlehem.
    Their home was filled with people, as the hotels of the city could not accept all those gathered for the census
    procedure. That day Mary gave birth to Jesus and, having wrapped him in swaddling clothes, laid him in a manger.
    The first people who came to worship Christ were shepherds who grazed their flocks nearby.
    According to the Bible, the shepherds were announced about the birth of the Son of the Lord by the same angel.
    Also, with the birth of Jesus, an unusually bright star lit up in the sky, which subsequently led the three Magi
    to bow to the baby. The Magi presented myrrh, gold and frankincense as a gift to the newborn Jesus.
</p>

<h3>
    <a href="http://localhost:8080/leave">Go to leave the page</a>
</h3>

</body>
</html>